body {
	
	/* Copied from Moodle but looks worse than default! 
	font-family: "Verdana",sans-serif;
    font-size: 10pt;
	*/
}

a {
	
    color: #002B5C;
    text-decoration: none;
	
}

a:hover {
	
	text-decoration: underline;
	
}

#top-wrapper {
	
	min-height: 109px;
	margin-top: 3px;
	background-image: url('../images/moodle_generic.png');
	background-position: right top;
    background-repeat: no-repeat;
	
}

#right-nav ul {
	
	color: #002B5C;
	background-color: white;
	border: 1px #002B5C solid;
	
}